.navbar {
  background-color: #333;
  position: fixed;
}

.navbar li {
  display: inline;
} 

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

h2, .card-title {
  text-align: center;
  font-size: 40px;
  color: rgba(43, 0, 255, 0.753);
}

.project-card {
  width: fit-content;
  width: 500px;
}

.projects .card-title {
  font-size: 25px;
  color: rgb(44, 41, 41);
}

.work-experience-container .accordion-container {
  text-align: center;
}

.work-experience-container .accordion-container button {
  padding: 10px 20px; 
  margin: 5px; 
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: rgba(43, 0, 255, 0.753);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 768px) {
  .project-card img {
    display: none;
  }

  .carousel-item {
    max-width: 100%; 
  }

  #project-card-content {
    max-width: auto; 
    margin: 0 auto; 
    display: inline-block;
  }

  .navbar-nav li {
    display: block; 
    margin-bottom: 10px; 
  }

  .navbar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

.projects {
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.mb-4-card {
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
}

.project-card {
  width: 300px; 
  margin: 0 auto; 
  margin-bottom: 20px;
  align-items: center;
  margin-right: 50px;
}

#project-card-content {
  display: inline-block;
  max-width: 80%; 
}

@media screen and (max-width: 600px) {
  .project-card {
    width: 80%; 
  }

  #project-card-content {
    max-width: 100%; 
  }
}

.carousel {
  width: 100%;
  overflow: hidden;
  align-items: center;
}

.carousel-item {
  width: 100%;
}

